@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&display=swap");

:root {
  --body-bg: #444;
  --opposite-bg-color: #fff;
  --floated-divs-bg: #333;
  --text-color: #fff;
  --opposite-text-color: #000;
  --link-hover-color: #cfcfcf;
  --border-bottom-color: #3a3a3a;
  --btn-color: #1166ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, "Segoe UI", sans-serif;
}

.floated-div {
  background: var(--floated-divs-bg);
}

.btn-secondary,
.btn {
  background: var(--btn-color);
  margin-top: 10%;
  margin-right: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  & a {
    text-decoration: none;
    color: #fff;
  }
}

.btn-secondary {
  background: #fff;
  color: var(--btn-color);

  & a {
    color: var(--btn-color);
  }
}

.btn-secondary:hover,
.btn:hover {
  opacity: 0.8;
}

body {
  display: grid;
  gap: 10px;
  background: var(--body-bg);
  padding: 20px;
  color: var(--text-color);
  transition: 0.2s;
}

body.light {
  --body-bg: #e2e2e2;
  --floated-divs-bg: #fff;
  --text-color: #000;
  --link-hover-color: #676767;
  --border-bottom-color: #ccc;
}

#header {
  display: inline-block;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  text-align: center;

  #title {
    flex: 0.3;
  }
}

#header-nav {
  flex: 0.55;
  text-align: center;

  & ul {
    display: flex;
    justify-content: center;

    & li {
      list-style: none;
      margin: 0 50px;

      & a {
        color: var(--text-color);
        font-size: 1em;
        text-decoration: none;
        transition: 0.2s linear;

        &:hover {
          color: var(--link-hover-color);
        }
      }
    }
  }
}

#toggle-theme-container {
  flex: 0.15;

  & #toggle-theme-btn {
    background: transparent;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;

    & #toggle-theme-icon {
      font-size: 30px;
      color: var(--text-color);
      margin-right: 10px;
    }

    & span {
      margin-right: 20px;
      font-size: 15px;
      color: var(--text-color);
    }
  }
}

.subtitle {
  border-bottom: 2px solid var(--border-bottom-color);
  margin-bottom: 10px;
}

.icon {
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: var(--hover-color);
  }
}

main {
  display: flex;
  align-items: stretch;
  gap: 10px;

  .main-div {
    text-align: center;
    border-radius: 20px;
  }

  & aside {
    width: 25%;
    height: min-content;
    padding: 20px;

    & #about-aside-img {
      width: 175px;
      height: 175px;
      object-fit: cover;
      margin: 10px;
      border-radius: 50%;
    }

    & #about-info {
      margin-top: 25px;
      & p {
        text-align: left;
      }
    }

    & #social-nav {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      & ul {
        display: flex;
        & li {
          list-style: none;
          margin: 0 10px;
          & a {
            color: var(--text-color);
          }
        }
      }
    }
  }

  & #projects {
    width: 75%;
    padding: 20px;

    & #projects-container {
      & #skills {
        height: 10%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;

        & .skill {
          margin: 5px;

          & > * {
            display: block;
          }
        }
      }

      & #projects {
        height: 90%;
        width: 100%;
        padding: 20px;

        & .project-card {
          background: var(--body-bg);
          border: 5px solid var(--body-bg);

          /* display: flex; */
          /* flex: wrap; */
          height: 400px;
          vertical-align: baseline;
          margin: 10px;
          padding: 10px;
          text-align: left;
          border-radius: 10px;
          overflow: hidden;

          & img {
            width: 30%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
          }

          & .project-info {
            display: inline-block;
            width: 65%;
            vertical-align: top;
            padding: 10px 20px;

            & .project-technologies {
              height: 10%;
              margin-bottom: 30px;
              & span {
                margin-right: 20px;
              }
            }

            & .project-about {
              height: 70%;
            }

            & .project-btns {
              height: 20%;
            }
          }
        }
      }
    }
  }
}
